# Ignore everything by default
*
!*/

# Allowed Files
!.env.example
!.gitattributes
!.gitignore
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!README.md
!compose.yml
!compose.build.yml

# Allowed Directories
!docker/**
!dockerhub/**
!scripts/**
!.github/**

# Ignore for local VCS
.idea/
.env
